@CHARSET "UTF-8";

header,section {
	border-radius: 0.5em;
	background: green;
	width: 50%;
	padding: 1em;
	margin: 1em auto;
	overflow: visible;
}

.parrafoEncabezado {
	text-align: center;
}

div.formulario {
	height: 100%;
	margin: 10% 0%;
	overflow: hidden;
	font-size: 26px;
}

.otraLinea {
	clear: both;
	float: left;
	margin: auto 25%;
}
.otraLineaCentrada {
	clear: both;
	text-align:center;
	float: left;
	margin: auto 40%;
	font-size: 26px;
}